.page.theme_dark {
  --background-image: url('../images/cover-image-dark.png');
  --background-color: #000028;
  --main-font-color: #F1B2CE;
  --secondary-font-color: #000028;
  --third-font-color: #FF0070;
  --title-font-color: #DB00FF;
  --accent-color: #FF0070;
  --decorate-color: #FF0070;
  --hover-color: #FF007066;
}
