.page.theme_light {
  --background-image: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --main-font-color: #353430;
  --secondary-font-color: #353430;
  --third-font-color: #353430;
  --title-font-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decorate-color: #353430;
  --font-family: 'IBM Plex Mono', sans-serif;
  --mobile-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --tablet-and-desktop-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.page.theme_light .header__decor-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url('../images/cover-image-light.png');
    --background-color: #FFF1F7;
    --main-font-color: #353430;
    --secondary-font-color: #353430;
    --third-font-color: #353430;
    --title-font-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --decorate-color: #353430;
    --font-family: 'IBM Plex Mono', sans-serif;
    --mobile-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --tablet-and-desktop-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .page.theme_light .header__decor-text,
  .page.theme_auto .header__decor-text {
    display: none;
  }
}