.page.theme_light {
  --background-image: url('../images/cover-image-light.png');
  --background-color: #FFF1F7;
  --main-font-color: #353430;
  --secondary-font-color: #353430;
  --third-font-color: #353430;
  --title-font-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decorate-color: #353430;
  --hover-color: #32312D66;
  --big-header-footer-shadow-color: #FF0070;
}

.page.theme_light .header__decor-text {
  display: none;
}

@media (width >= 992px) {
  .page.theme_light .header__title {
    text-shadow: 4px 4px 0 var(--big-header-footer-shadow-color);
  }

  .page.theme_light .footer__title {
    text-shadow: 2px 2px 0 var(--big-header-footer-shadow-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url('../images/cover-image-light.png');
    --background-color: #FFF1F7;
    --main-font-color: #353430;
    --secondary-font-color: #353430;
    --third-font-color: #353430;
    --title-font-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --decorate-color: #353430;
    --hover-color: #32312D66;
    --big-header-footer-shadow-color: #FF0070;
  }

  .page.theme_light .header__decor-text,
  .page.theme_auto .header__decor-text {
    display: none;
  }
}

@media (width >= 992px) and (prefers-color-scheme: light) {
  .page.theme_light .header__title,
  .page.theme_auto  .header__title {
    text-shadow: 4px 4px 0 var(--big-header-footer-shadow-color);
  }

  .page.theme_light .footer__title,
  .page.theme_auto .footer__title {
    text-shadow: 2px 2px 0 var(--big-header-footer-shadow-color);
  }
}