:root {
  --background-image: url('../images/cover-image-dark.png');
  --background-color: #000028;
  --main-font-color: #F1B2CE;
  --secondary-font-color: #000028;
  --third-font-color: #FF0070;
  --title-font-color: #DB00FF;
  --accent-color: #FF0070;
  --decorate-color: #FF0070;
  --font-family: 'IBM Plex Mono', sans-serif;
  --mobile-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --tablet-and-desktop-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
